@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #09090b;
}

.dark {
  --bg: #09090b;
  --text: #fafafa;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

::selection {
  background-color: #003087;
  color: #ffffff;
}

.dark ::selection {
  background-color: #6B8CC5;
  color: #09090b;
}
